body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img{
    width:220px;
    padding: 10px;
    border-radius: 15px;    
}
#main{
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    margin: 100px auto 0 auto;
}
h2{
    margin-bottom: 0px;
    font-size:20px;
    width:225px;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 15px;
    width: 225px;
    padding-bottom:20px;
    color: hsl(220, 15%, 55%);
}
